.well
  - if user_signed_in? and @user == current_user
    .pull-right
      = link_to 'Edit Profile', edit_user_path(@user)
  .row-fluid
    .span2
      = image_tag @user.avatar.url, :class => "img-polaroid", :alt => @user.username
    .span10
      %h1
        = @user.name
        - if @user.username.present?
          %small (#{@user.username})
      %p= @user.email
#books
  = render :partial => "books_list"